<html lang="en">

<body>
<p />
<ul class="nav nav-tabs">
<li><a href="../courses">Courses</a></li>
<li class="active"><a href="../golfers">Golfers</a></li>
<li><a href="../matches">Matches</a></li>
</ul>

<section>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @golfer.name %>
</p>

<p>
  <strong>Handicap:</strong>
  <%= @golfer.handicap %>
</p>

<%= link_to 'Edit', edit_golfer_path(@golfer) %> |
<%= link_to 'Back', golfers_path %>
</section>
</body>
</html>
