<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Golfer 1' %><br>
<%= collection_select(:match, :golfer1_id, Golfer.all, :id, :name) %>
</div>
  <div class="field">
    <%= f.label 'Golfer 2' %><br>
<%= collection_select(:match, :golfer2_id, Golfer.all, :id, :name) %>  
  </div>
  <div class="field">
    <%= f.label :course %><br>
 <%= collection_select(:match, :course_id, Course.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
