<h3><%= link_to 'New Match', new_match_path, :class => 'btn btn-inverse'  %>
</h3>

<table id="courses" class="table table-striping">
<thead >
<tr>
      <th>Name</th>
      <th>Golfer 1</th>
      <th>Golfer 2</th>
      <th>Course</th>
      <th>Result</th>
      <th>Winner</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.name, match, :class => 'btn btn-urgent' %></td>
        <td><%= match.golfer1.name %></td>
        <td><%= match.golfer2.name %></td>
	<td><%= match.course.name %></td>
	<td><%= match.score %></td>
        <td><%= match.result %></td>
<td></td>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

