
<id="notice"><%= notice %></p>
<h4><%= @match.name %> - <%= Golfer.find(@match.golfer1).name %> vs. <%= @match.golfer2.name %> at <em><%= @match.course.name %></em></h4>
<table id="scores" class="table table-bordered table-condensed">  
<tr class="warning">
    <td><strong>Hole #</strong></td>
    <% @match.course.holes.each do |s| %>
      <td><%= s.hole_number %></td>
    <% end %>
  </tr>
  <tr class="warning">
    <td><strong>Par</strong></td>
    <% @match.course.holes.each do |s| %>
      <td><%= s.par %></td>
    <% end %>
  </tr>
  <tr class="warning">
    <td><strong>Handicap</strong></td>
    <% @match.course.holes.each do |s| %>
      <td><%= s.handicap %></td>
    <% end %>
  </tr>
  <tr class="warning">
    <td><strong>Yardage</strong></td>
    <% @match.course.holes.each do |s| %>
      <td><%= s.yardage %></td>
    <% end %>
  </tr>
  <tr class="success">
    <td><strong><%= Golfer.find(@match.golfer1).name %></strong></td>
    <% @g1scores.each do |gh1| %>
<td><%= gh1.stroke %>
    <% end %></td>
  </tr>
  <tr class="success">
    <td><strong><%= Golfer.find(@match.golfer2).name %></strong></td>
 <% @g2scores.each do |gh2| %> <td>
<%= gh2.stroke %><% end%>
</td>

  </tr>
</table>

<%= form_for ([@match, @match.scores.build]) do |f| %>
  <%= f.hidden_field :match_id, :value => @match.id %>
  <table >
    <tr>
      <td><strong>Golfer:</strong></td>
      <td><%= f.select :golfer_id, {@match.golfer1.name => @match.golfer1.id, @match.golfer2.name => @match.golfer2.id} %></td>
    </tr>
    <tr>
      <td><strong>Hole:</strong></td>
      <td><%= f.select :hole_id, @match.course.holes.collect {|h| [h.hole_number, h.id]} %></td>
    </tr>
    <tr>
      <td><strong>Strokes:</strong></td>
      <td><%= f.select(:stroke, options_for_select((1..11).step(1).to_a.map{|s| ["#{s}", s]})) %></td>
    </tr>
    <tr>
      <td></td><td><%= f.submit 'Score',:class => 'btn btn-success' %></td>
    </tr>
  </table>
<% end %>
</body>
</html>
