<h3><%= link_to 'New Course', new_course_path, :class => 'btn btn-success' %>
</h3>

<table id="golfers" class="table table-striping">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Par</th>
      <th>Tees</th>
      <th>Holes</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course, :class => 'btn btn-inverse' %></td>
        <td><%= course.location %></td>
        <td><%= course.par %></td>
        <td><%= course.tees %></td>
	<td><%= course.holes.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
