<section>
<p id="notice"><%= notice %></p>

<p>
  <h3> <%= @course.name %></h3>
</p>

<p>
  <strong>Par:</strong>
  <%= @course.par %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>

<p>
  <strong>Tees:</strong>
  <%= @course.tees %>
</p>

<!-- Hole Listing -->

<table id="scores" class="table table-bordered">
<tr class="warning"><td><strong>Hole #</strong></td><% @course.holes.each do |c| %>
<td><%= c.hole_number %><% end %></td>
</tr>

<tr class="warning"><td><strong>Par</strong></td><% @course.holes.each do |c| %>
<td><%= c.par %><% end %></td>
</tr>

<tr class="warning"><td><strong>Handicap</strong></td><% @course.holes.each do |c| %>
<td><%= c.handicap %><% end %></td>
</tr><br>

<tr class="warning"><td><strong>Yardage</strong></td><% @course.holes.each do |c| %>
<td><%= c.yardage %><% end %>
</td>
</tr><br>
</table>

<!-- New hole form -->
<h3>Add a hole:</h3>

<%= form_for([@course, @course.holes.build]) do |f| %>
<div class="field">
<%= f.label :hole_number %>
<%= f.select(:hole_number, options_for_select((1..18).step(1).to_a.map{|s| ["#{s}", s]})) %>
</div>
<div class="field">
<%= f.label :par %>
<%= f.select(:par, options_for_select((3..5).step(1).to_a.map{|s| ["#{s}", s]})) %>
</div>
<div class="field">
<%= f.label :handicap %>
<%= f.select(:handicap, options_for_select((1..18).step(1).to_a.map{|s| ["#{s}", s]})) %>
</div>
<div class="field3">
<%= f.label :yardage %>
<%= f.text_field :yardage %>
</div>
<div class="actions">
<%= f.submit %>
</div>

<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
</body>
</html>
